from django.urls import path
from . import views
{% load static %}  <link rel="stylesheet" href="{% static 'shop/css/cart.css' %}">

urlpatterns = [
    path('cart/', views.cart_view, name='cart'),
    path('add_to_cart/<int:product_id>/', views.add_to_cart, name='add_to_cart'),
    path('update_cart/<int:item_id>/', views.update_cart, name='update_cart'),
    path('remove_from_cart/<int:item_id>/', views.remove_from_cart, name='remove_from_cart'),
    # ... URL อื่นๆ ที่เกี่ยวข้องกับตะกร้าสินค้า
]